h1= title
#items
    - each item in items
      div.row
        div.item 
            item.itm= item.itm
            item.usr= item.usr
            item.url= item.url
            itm.cre= item.cre
form(method="post", id="/item_new", action='/items/new')
    div
        div
            span New Item :
            input(type="text", name="item", id="editItemText")
        div
            input(type="hidden", name="username", id="editUsername", value="Andy") 
            input(type="submit", value="Add Item")